<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bayu Suta</title>
	<link rel="stylesheet" href="assets/css/styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="menu-bar">
        <h2>LOGO</h2>
        <ul>
            <li><a href="flight-data.html"><i class="fas fa-plane"></i>STATUS</a></li>
            <li><a href="flight-plan.html"  style="color: #0167AF;"><i class="fas fa-th-list"></i>PLAN</a></li>
            <li><a href="#"><i class="fas fa-cog"></i>SETTING</a></li>
        </ul> 

    </div>

    <div class="tool-bar">
      <ul>
        <li><a href="#"><i class="fas fa-plus-circle fa-2x"></i></a></li>
        <li> 
          <button class="wp-button" onclick="openForm()">
            <i class="fas fa-map-marked-alt fa-2x"></i>
          </button>

        </li>
        <li><a href="#"><i class="fas fa-download fa-2x"></i></a></li>
        <li><a href="#"><i class="fas fa-upload fa-2x"></i></a></li>
      </ul>
      
    </div>
</div>

<div class="wp-popup" id="waypoint">
  <div class="wp-cmd">
    <ul>
      <li>+</li>
      <li>-</li>
      <li>edit</li>
    </ul>
    
  </div>

  <div class="wp-list">
    waypoint kosong
  </div>

  <div class="wahana-box">
    <ul>
      <li>+</li>
      <li>+</li>
      <li>+</li>
      <li>+</li>
      <li>+</li>
    </ul>
  </div>
  

  <!--
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>
     
    
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    

    <button type="submit" class="btn">Login</button>
    <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
  -->
</div>

<script>
  function openForm() {
    document.getElementById("waypoint").style.display = "block";
  }
  
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>

</body>
</html>